/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-abr-2024, 23:23:50
    Author     : EDISON DONIS 
*/

.button {
    -fx-background-color: #201140   ; /* Color de fondo */
    -fx-text-fill: #EAF2DC; /* Color de texto */
    -fx-font-family: "Arial"; /* Familia de fuente */
    -fx-font-size: 25px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Grosor de fuente */
    -fx-padding: 8px 16px; /* Espacio alrededor del texto */
    -fx-background-radius: 5px; /* Radio de fondo */
    -fx-border-radius: 5px; /* Radio del borde */
    -fx-border-color:#F24B78; /* Color del borde */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0); /* Efecto de sombra */
}

.button:hover {
    -fx-background-color: #F24B78; /* Color de fondo al pasar el mouse */
    -fx-border-color: #201140; /* Color del borde al pasar el mouse */
    -fx-font-size: 15px; /* Tamaño de fuente */
}

.button:pressed {
    -fx-background-color: #201140; /* Color de fondo al presionar */
    -fx-border-color: #EAF2DC; /* Color del borde al presionar */
}
